# Data Cleaning

In this notebook the entire dataset will be prepared for the next steps of the modelling process.

* 1) Change the feature types to object, if it's a categorical feature, or int32 if it's a nummerical feature
* 2) Transform the Credit_History_Year feature by removing months and days, letting only the years
* 3) Transfom the Age feature letting only age in a range: >18 and <120
* 4) Target filter: The main goal of the model is to predict clients that will default. So the target must be 1 (bad) or 0 (good). The "standard" clients will be removed.
* 5) Changing the feature names to lower cases

# 1) Packages

In [1]:
import pandas as pd
import numpy as np
import sys
import os

C:\Users\lucas\AppData\Roaming\Python\Python310\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
print(os.getcwd())

c:\Users\lucas\OneDrive\Ãrea de Trabalho\Data Science Projects\credit_scoring_project\notebooks

In [3]:
# 'src' folder path
project_root = os.path.abspath(os.path.join(os.getcwd(), '../src'))

# verify the path
print("Caminho para a pasta 'src':", project_root)

# add to the sys.path
sys.path.append(project_root)

Caminho para a pasta 'src': c:\Users\lucas\OneDrive\Ãrea de Trabalho\Data Science Projects\credit_scoring_project\src

# 2) Import the local packages and dataset

In [4]:
import df_cleaning as dcl

In [5]:
df = pd.read_csv('../data/train.csv')

C:\Users\lucas\AppData\Local\Temp\ipykernel_7076\3253700651.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/train.csv')

# 3) Data cleaning

## 3.1) Feature types

In [47]:
feats_int = ['Age','Num_of_Loan','Num_of_Delayed_Payment']
feats_float = ['Annual_Income','Changed_Credit_Limit','Num_Credit_Inquiries','Outstanding_Debt','Amount_invested_monthly','Monthly_Balance']

feature_handler = dcl.FeatureTypes(df, feats_int, feats_float)
df_transformed = feature_handler.feats_transform()

In [48]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [49]:
df_transformed.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                           int32
SSN                          object
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                   int32
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment        int32
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

## 3.2) Credit_History_Age

In [50]:
df_transformed = dcl.credit_hist_transform(df_transformed)

In [51]:
df['Credit_History_Age'].unique()

array(['22 Years and 1 Months', nan, '22 Years and 3 Months',
       '22 Years and 4 Months', '22 Years and 5 Months',
       '22 Years and 6 Months', '22 Years and 7 Months',
       '26 Years and 7 Months', '26 Years and 8 Months',
       '26 Years and 9 Months', '26 Years and 10 Months',
       '26 Years and 11 Months', '27 Years and 0 Months',
       '27 Years and 1 Months', '27 Years and 2 Months',
       '17 Years and 9 Months', '17 Years and 10 Months',
       '17 Years and 11 Months', '18 Years and 1 Months',
       '18 Years and 2 Months', '18 Years and 3 Months',
       '18 Years and 4 Months', '17 Years and 3 Months',
       '17 Years and 4 Months', '17 Years and 5 Months',
       '17 Years and 6 Months', '17 Years and 7 Months',
       '17 Years and 8 Months', '30 Years and 8 Months',
       '30 Years and 9 Months', '30 Years and 10 Months',
       '30 Years and 11 Months', '31 Years and 0 Months',
       '31 Years and 1 Months', '31 Years and 2 Months',
       '31 Years and 3 Months', '32 Years and 0 Months',
       '32 Years and 2 Months', '32 Years and 3 Months',
       '32 Years and 5 Months', '32 Years and 6 Months',
       '30 Years and 7 Months', '14 Years and 8 Months',
       '14 Years and 9 Months', '14 Years and 10 Months',
       '14 Years and 11 Months', '15 Years and 0 Months',
       '15 Years and 1 Months', '15 Years and 2 Months',
       '21 Years and 4 Months', '21 Years and 5 Months',
       '21 Years and 6 Months', '21 Years and 7 Months',
       '21 Years and 8 Months', '21 Years and 9 Months',
       '21 Years and 10 Months', '21 Years and 11 Months',
       '26 Years and 6 Months', '19 Years and 2 Months',
       '19 Years and 3 Months', '19 Years and 4 Months',
       '19 Years and 5 Months', '19 Years and 6 Months',
       '19 Years and 7 Months', '19 Years and 8 Months',
       '25 Years and 5 Months', '25 Years and 6 Months',
       '25 Years and 7 Months', '25 Years and 8 Months',
       '25 Years and 9 Months', '25 Years and 10 Months',
       '25 Years and 11 Months', '26 Years and 0 Months',
       '27 Years and 3 Months', '27 Years and 4 Months',
       '27 Years and 5 Months', '8 Years and 11 Months',
       '9 Years and 0 Months', '9 Years and 1 Months',
       '9 Years and 2 Months', '9 Years and 3 Months',
       '9 Years and 4 Months', '9 Years and 6 Months',
       '18 Years and 5 Months', '18 Years and 6 Months',
       '18 Years and 8 Months', '18 Years and 9 Months',
       '16 Years and 10 Months', '16 Years and 11 Months',
       '17 Years and 0 Months', '17 Years and 1 Months',
       '17 Years and 2 Months', '29 Years and 2 Months',
       '29 Years and 3 Months', '29 Years and 4 Months',
       '29 Years and 6 Months', '29 Years and 8 Months',
       '29 Years and 9 Months', '6 Years and 5 Months',
       '6 Years and 6 Months', '6 Years and 7 Months',
       '6 Years and 8 Months', '6 Years and 9 Months',
       '6 Years and 10 Months', '6 Years and 11 Months',
       '7 Years and 0 Months', '27 Years and 6 Months',
       '27 Years and 7 Months', '27 Years and 8 Months',
       '27 Years and 9 Months', '18 Years and 7 Months',
       '19 Years and 9 Months', '19 Years and 10 Months',
       '10 Years and 1 Months', '10 Years and 2 Months',
       '10 Years and 3 Months', '10 Years and 4 Months',
       '10 Years and 5 Months', '10 Years and 6 Months',
       '10 Years and 7 Months', '10 Years and 8 Months',
       '32 Years and 9 Months', '32 Years and 10 Months',
       '32 Years and 11 Months', '33 Years and 0 Months',
       '33 Years and 1 Months', '33 Years and 4 Months',
       '12 Years and 3 Months', '12 Years and 4 Months',
       '12 Years and 5 Months', '12 Years and 6 Months',
       '12 Years and 7 Months', '12 Years and 8 Months',
       '12 Years and 10 Months', '12 Years and 9 Months',
       '13 Years and 8 Months', '13 Years and 11 Months',
       '14 Years and 0 Months', '14 Years and 1 Months',
       '14 Years and 2 Months', '14 Years and 3 Months',
       '30 Years and 3 Months', '30 Years and 4 Months',
       '30 Years and 5 Months', '30 Years and 6 Months',
       '8 Years and 9 Months', '8 Years and 10 Months',
       '18 Years and 10 Months', '18 Years and 11 Months',
       '19 Years and 0 Months', '19 Years and 1 Months',
       '8 Years and 8 Months', '13 Years and 1 Months',
       '13 Years and 2 Months', '13 Years and 3 Months',
       '13 Years and 5 Months', '13 Years and 6 Months',
       '13 Years and 7 Months', '22 Years and 0 Months',
       '26 Years and 1 Months', '26 Years and 2 Months',
       '13 Years and 4 Months', '13 Years and 9 Months',
       '27 Years and 11 Months', '28 Years and 0 Months',
       '28 Years and 1 Months', '28 Years and 2 Months',
       '28 Years and 3 Months', '28 Years and 4 Months',
       '28 Years and 5 Months', '28 Years and 6 Months',
       '7 Years and 10 Months', '7 Years and 11 Months',
       '8 Years and 0 Months', '8 Years and 1 Months',
       '8 Years and 2 Months', '8 Years and 3 Months',
       '8 Years and 4 Months', '8 Years and 5 Months',
       '24 Years and 3 Months', '24 Years and 4 Months',
       '24 Years and 5 Months', '24 Years and 6 Months',
       '24 Years and 7 Months', '24 Years and 8 Months',
       '24 Years and 9 Months', '1 Years and 2 Months',
       '1 Years and 3 Months', '1 Years and 4 Months',
       '1 Years and 5 Months', '1 Years and 6 Months',
       '1 Years and 7 Months', '1 Years and 8 Months',
       '10 Years and 11 Months', '11 Years and 0 Months',
       '11 Years and 1 Months', '11 Years and 2 Months',
       '11 Years and 3 Months', '11 Years and 4 Months',
       '11 Years and 5 Months', '11 Years and 6 Months',
       '19 Years and 11 Months', '20 Years and 0 Months',
       '20 Years and 1 Months', '10 Years and 9 Months',
       '10 Years and 10 Months', '14 Years and 4 Months',
       '14 Years and 5 Months', '14 Years and 6 Months',
       '20 Years and 8 Months', '20 Years and 9 Months',
       '20 Years and 10 Months', '20 Years and 11 Months',
       '21 Years and 0 Months', '21 Years and 1 Months',
       '21 Years and 2 Months', '21 Years and 3 Months',
       '0 Years and 4 Months', '0 Years and 5 Months',
       '0 Years and 6 Months', '0 Years and 8 Months',
       '0 Years and 9 Months', '0 Years and 10 Months',
       '31 Years and 7 Months', '31 Years and 8 Months',
       '31 Years and 9 Months', '31 Years and 10 Months',
       '31 Years and 11 Months', '32 Years and 1 Months',
       '12 Years and 11 Months', '13 Years and 0 Months',
       '27 Years and 10 Months', '11 Years and 7 Months',
       '11 Years and 8 Months', '11 Years and 9 Months',
       '11 Years and 10 Months', '24 Years and 10 Months',
       '24 Years and 11 Months', '25 Years and 0 Months',
       '25 Years and 1 Months', '25 Years and 2 Months',
       '25 Years and 3 Months', '18 Years and 0 Months',
       '31 Years and 4 Months', '31 Years and 5 Months',
       '31 Years and 6 Months', '5 Years and 2 Months',
       '5 Years and 3 Months', '5 Years and 4 Months',
       '5 Years and 5 Months', '5 Years and 6 Months',
       '5 Years and 7 Months', '5 Years and 8 Months',
       '5 Years and 9 Months', '2 Years and 11 Months',
       '3 Years and 0 Months', '3 Years and 1 Months',
       '3 Years and 2 Months', '3 Years and 3 Months',
       '3 Years and 4 Months', '3 Years and 5 Months',
       '3 Years and 6 Months', '16 Years and 4 Months',
       '16 Years and 5 Months', '16 Years and 6 Months',
       '16 Years and 7 Months', '16 Years and 8 Months',
       '16 Years and 9 Months', '22 Years and 11 Months',
       '23 Years and 0 Months', '23 Years and 2 Months',
       '23 Years and 3 Months', '23 Years and 4 Months',
       '23 Years and 5 Months', '23 Years and 6 Months',
       '8 Years and 6 Months', '8 Years and 7 Months',
       '4 Years and 5 Months', '4 Years and 6 Months',
       '4 Years and 7 Months', '4 Years and 8 Months',
       '4 Years and 9 Months', '4 Years and 10 Months',
       '4 Years and 11 Months', '5 Years and 0 Months',
       '32 Years and 8 Months', '33 Years and 2 Months',
       '33 Years and 3 Months', '12 Years and 2 Months',
       '32 Years and 4 Months', '29 Years and 11 Months',
       '30 Years and 0 Months', '30 Years and 2 Months',
       '26 Years and 3 Months', '26 Years and 4 Months',
       '26 Years and 5 Months', '7 Years and 6 Months',
       '7 Years and 7 Months', '7 Years and 8 Months',
       '7 Years and 9 Months', '28 Years and 7 Months',
       '28 Years and 8 Months', '28 Years and 9 Months',
       '28 Years and 10 Months', '29 Years and 5 Months',
       '29 Years and 7 Months', '20 Years and 2 Months',
       '20 Years and 3 Months', '20 Years and 4 Months',
       '20 Years and 5 Months', '20 Years and 6 Months',
       '20 Years and 7 Months', '28 Years and 11 Months',
       '29 Years and 0 Months', '13 Years and 10 Months',
       '1 Years and 9 Months', '1 Years and 10 Months',
       '1 Years and 11 Months', '33 Years and 5 Months',
       '33 Years and 6 Months', '33 Years and 7 Months',
       '33 Years and 8 Months', '29 Years and 1 Months',
       '5 Years and 1 Months', '5 Years and 10 Months',
       '5 Years and 11 Months', '6 Years and 0 Months',
       '6 Years and 1 Months', '6 Years and 2 Months',
       '6 Years and 3 Months', '22 Years and 9 Months',
       '22 Years and 10 Months', '23 Years and 1 Months',
       '22 Years and 2 Months', '15 Years and 4 Months',
       '15 Years and 5 Months', '15 Years and 6 Months',
       '15 Years and 7 Months', '15 Years and 8 Months',
       '15 Years and 9 Months', '15 Years and 10 Months',
       '15 Years and 11 Months', '2 Years and 3 Months',
       '2 Years and 4 Months', '2 Years and 5 Months',
       '2 Years and 6 Months', '2 Years and 7 Months',
       '2 Years and 8 Months', '2 Years and 9 Months',
       '2 Years and 10 Months', '2 Years and 0 Months',
       '16 Years and 2 Months', '16 Years and 3 Months',
       '22 Years and 8 Months', '9 Years and 5 Months',
       '9 Years and 7 Months', '9 Years and 8 Months',
       '9 Years and 9 Months', '11 Years and 11 Months',
       '12 Years and 0 Months', '12 Years and 1 Months',
       '24 Years and 2 Months', '16 Years and 0 Months',
       '16 Years and 1 Months', '14 Years and 7 Months',
       '25 Years and 4 Months', '15 Years and 3 Months',
       '7 Years and 1 Months', '7 Years and 2 Months',
       '7 Years and 3 Months', '7 Years and 4 Months',
       '7 Years and 5 Months', '23 Years and 7 Months',
       '23 Years and 8 Months', '23 Years and 9 Months',
       '30 Years and 1 Months', '29 Years and 10 Months',
       '9 Years and 10 Months', '9 Years and 11 Months',
       '10 Years and 0 Months', '2 Years and 2 Months',
       '23 Years and 10 Months', '23 Years and 11 Months',
       '24 Years and 0 Months', '24 Years and 1 Months',
       '6 Years and 4 Months', '0 Years and 1 Months',
       '0 Years and 2 Months', '0 Years and 3 Months',
       '0 Years and 7 Months', '3 Years and 8 Months',
       '32 Years and 7 Months', '3 Years and 7 Months',
       '3 Years and 9 Months', '3 Years and 10 Months',
       '0 Years and 11 Months', '1 Years and 0 Months',
       '1 Years and 1 Months', '4 Years and 4 Months',
       '3 Years and 11 Months', '4 Years and 0 Months',
       '4 Years and 1 Months', '4 Years and 2 Months',
       '4 Years and 3 Months', '2 Years and 1 Months'], dtype=object)

In [52]:
df_transformed['Credit_History_Year'].unique()

array([22, -1, 26, 27, 17, 18, 30, 31, 32, 14, 15, 21, 19, 25,  8,  9, 16,
       29,  6,  7, 10, 33, 12, 13, 28, 24,  1, 11, 20,  0,  5,  2,  3, 23,
        4])

## 3.3) Age

In [53]:
df_transformed = dcl.age_transform(df_transformed)

In [54]:
df['Age'].unique()

array(['23', '-500', '28_', ..., '4808_', '2263', '1342'], dtype=object)

In [55]:
df_transformed['Age'].unique()

array([ 23,  -1,  28,  34,  54,  55,  21,  31,  33,  30,  24,  44,  45,
        40,  41,  32,  35,  36,  39,  37,  20,  46,  26,  42,  19,  48,
        38,  43,  22,  18,  27,  25,  47,  53,  56,  29,  49,  51,  50,
        52, 112, 118,  99, 100, 102, 111,  95, 109, 115], dtype=int64)

## 3.4) Target filter

In [56]:
df_transformed = dcl.target_filter(df_transformed)

c:\Users\lucas\OneDrive\Ãrea de Trabalho\Data Science Projects\credit_scoring_project\src\df_cleaning.py:111: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_to_treat['Credit_Score'] = df_to_treat['Credit_Score'].replace({'Good': 0, 'Poor': 1})

In [57]:
df['Credit_Score'].value_counts()

Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

In [58]:
df_transformed['target'].value_counts()

target
1    28998
0    17828
Name: count, dtype: int64

In [59]:
print(f'Original dataset shape:', df.shape)
print(f'Transformed dataset shape:', df_transformed.shape)

Original dataset shape: (100000, 28)
Transformed dataset shape: (46826, 28)

## 3.5) Lower Case

In [60]:
df_transformed = dcl.feature_names(df_transformed)

In [61]:
df.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [62]:
df_transformed.columns

Index(['id', 'customer_id', 'month', 'name', 'age', 'ssn', 'occupation',
       'annual_income', 'monthly_inhand_salary', 'num_bank_accounts',
       'num_credit_card', 'interest_rate', 'num_of_loan', 'type_of_loan',
       'delay_from_due_date', 'num_of_delayed_payment', 'changed_credit_limit',
       'num_credit_inquiries', 'credit_mix', 'outstanding_debt',
       'credit_utilization_ratio', 'payment_of_min_amount',
       'total_emi_per_month', 'amount_invested_monthly', 'payment_behaviour',
       'monthly_balance', 'target', 'credit_history_year'],
      dtype='object')

## 3.6) Filling values to NaN

In [6]:
df_transformed = pd.read_csv('../data/df_transformed.csv')

In [7]:
df_transformed2 = df_transformed.copy()

In [8]:
df_transformed2['occupation'] = df_transformed2['occupation'].replace('_______', np.nan)
df_transformed2['credit_mix'] = df_transformed2['credit_mix'].replace('_', np.nan)
df_transformed2['payment_behaviour'] = df_transformed2['payment_behaviour'].replace('!@9#%8', np.nan)
df_transformed2['delay_from_due_date'] = df_transformed2['delay_from_due_date'].apply(lambda x: np.nan if x <= -2 else x)
df_transformed2['amount_invested_monthly'] = df_transformed2['amount_invested_monthly'].replace('__10000__', np.nan)

# 4) Saving

In [39]:
df_transformed.to_csv('../data/df_transformed.csv')

In [9]:
df_transformed2.to_csv('../data/df_transformed_new.csv')