# 4. Inference Pipeline

This notebook execute the preprocessing.py and the inference.py archives.

1) `preprocessing.py`:

-function `get_data()`: load the 'test.csv' file;

-function `feats_transform_type()`: treat the datatypes of the inference dataset;

-function `preprocessing_data()`: make the feature engineering process in the inference dataset.

2) `inference.py`:

-function `model_fn()`: load the best model created in the notebook: 3_modelling.ipynb

-function `load_data()`: load the 'inference_data.csv' file;

-function `predict_fn()`: create the predictions (score) and the bins (gh) groups of the model.

In [1]:
import pandas as pd
import sys
import os
import subprocess

C:\Users\lucas\AppData\Roaming\Python\Python310\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [4]:
# Executing the pre processing script
print("Running pre processing...")
subprocess.run(["python", "../src/inference_pipe/preprocessing.py"], check=True)

# Executing the inference script
print("Running the inference...")
subprocess.run(["python", "../src/inference_pipe/inference.py"], check=True)

# loading the results...
df_result = pd.read_csv("../data/inference_data_scored.csv")
print("Examples:")
display(df_result.head())

Running pre processing...
Running the inference...
Examples:

,Unnamed: 0.1,Unnamed: 0,id,customer_id,month,name,age,ssn,occupation,annual_income,...,credit_utilization_ratio,payment_of_min_amount,total_emi_per_month,amount_invested_monthly,payment_behaviour,monthly_balance,credit_history_year,score_modelv6,target_predicted,gh
0,0,0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,0.632461,19114.12,...,35.030402,0.258301,49.574949,236.642682,0.733886,186.266702,22,817.854893,0,7
1,1,1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,0.632461,19114.12,...,33.053114,0.258301,49.574949,21.465380,0.559731,361.444004,22,899.965661,0,8
2,2,2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,0.632461,19114.12,...,33.811894,0.258301,49.574949,148.233938,0.629492,264.675446,-1,822.424373,0,7
3,3,3,0x160d,CUS_0xd40,December,Aaron Maashoh,24,821-00-0265,0.632461,19114.12,...,32.430559,0.258301,49.574949,39.082511,0.559731,343.826873,23,895.082659,0,8
4,4,4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,-1.000000,34847.84,...,25.926822,0.258301,18.816215,39.684018,0.481272,485.298434,27,888.761275,0,8